* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

html {
    scroll-behavior: smooth;
}

.barr{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111;
}

.logo {
    color: #fff;
}

.barr a {
    color: #ccc;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.barr a:hover {
    color: #00bcd4;
}

section {
    scroll-margin-top: 90px;
}

.issam {
    height: 60vh;
    background: linear-gradient(to right, #1f1f1f, #2c2c2c);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.issam2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 100px 20px;
    background: #fff;
}

.ism {
    background: #f5f5f5;
    padding: 30px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.ism:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
footer {
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .issam {
        flex-direction: column;
        align-items: center;
    }

    .barr{
        flex-direction: column;
    }

    .barr nav {
        margin-top: 10px;
    }
}
.members {
    min-height: 100vh;
    padding: 100px 40px;
     background-image: url("/670886.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(37, 36, 36);
}

.members h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
}
.member2 {
    display: flex;
    gap: 25px;
    justify-content: center;  

    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;
}

.member2::-webkit-scrollbar {
    height: 8px;
}

.member2::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
}

.member3{
    min-width: 280px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    scroll-snap-align: start;
    transition: transform 0.4s;
}

.member3:hover {
    transform: scale(1.08);
}

.member3 h3 {
    margin-bottom: 10px;
}

.member3 p {
    opacity: 0.8;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);  
}
.member3 span {
    font-size: 14px;
    color: #00e5ff;
}
